<!DOCTYPE html>
<html>
    <head>
        <title>DIY</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/home_style.css" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
	    <script src="/js/inputAlt.js"></script>
    </head>

<body>
    <!--Header-->
    <header class="container bar" id="topbar">
        <h1 class="text-center">The Meal Preppers</h1>
    </header>
    <hr>
    <div class="container">
        <!--back button + heading-->
        <div class="row">
            <a href="index"><div class="col-xs-6" style="width: 25%">
                <img class="thumbnail" src="images/back.svg" style="width:80%">
            </div></a>
            <div class="col-xs-6">    
                <h1 class="text-center">DIY</h1>       
            </div>
        </div> 
        <!--DIY screen--> 
        <hr>
        <div class="container">
            <h4>How much time do you have to cook?</h4>
            <br>
            <input type="text" class="form-control" id="time" placeholder="minutes">
        </div>
        <hr>
        <div class="container">
            <h4>What is your planned calorie intake for this meal?</h4>
            <br>
            <input type="text" class="form-control" id="calories" placeholder="calories">
        </div>
        <br>

        <!--Next Button-->
        <a href="#"><div class="container" style="text-align:center;">
            <button type="button" class="btn" style="width:40%" id="submitdiy">Next</button>
        </div></a>
    </div>
    <hr>
    <hr>
    <hr>
    <hr>

    

    <!--Footer icons-->
    <footer class="container bar" id="fixedfooter">
            <div class="row">
                <a href="index"><div class="col-xs-6" style="width:50%">
                    <img class="footer-icon" src="images/home.svg" style="width:100%">
                </div></a>
                <a href="favorite"><div class="col-xs-6" style="width:50%">
                    <img class="footer-icon" src="images/heart.svg" style="width:100%">
                </div></a>
            </div>
    </footer>

</body>
</html>